@use "sass:math";
@function rem($pixel) {
    @return math.div($pixel, 16) + rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --blue: #3882f6;
    --black: #1f2937;
    --white: #f9faf8;
    --gray: #e5e7eb;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 110%;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.dark-section {
    background-color: var(--black);
    color: var(--white);
}

.light-section {
    background-color: var(--white);
    color: var(--black);
}

.gray-section {
    background-color: var(--gray);
    color: var(--black);
}

.width {
    margin-inline: 16.66vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.header {
    @extend .width, .flex-row;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(20);
    padding-bottom: rem(20);

    &__logo {
        font-size: rem(24);
        font-weight: 900;
    }

    &__links {
        display: inherit;
        gap: rem(30);
        & a {
            font-size: rem(18);
            color: var(--white);
        }
    }
}

.hero {
    @extend .width, .flex-row;
    align-items: center;
    padding: rem(100) 0;
    gap: rem(50);

    &__heading {
        font-size: rem(48);
        font-weight: 900;
    }

    &__subheading {
        font-size: rem(18);
        margin-bottom: 16px;
    }

    &__button {
        border: none;
        background-color: var(--blue);
        color: white;
        font-weight: 900;
        border-radius: rem(10);
        padding: rem(10) rem(36);
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(525);
        height: rem(240);
        background-color: #6d747d;
        font-size: rem(18);
    }
}

.info {
    @extend .width, .flex-col;
    justify-content: center;
    padding: rem(100) 0;
    gap: rem(50);

    &__heading {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
    }
    &__cards {
        @extend .flex-row;
        align-items: center;
        justify-content: center;
        gap: rem(50);

        & > div {
            @extend .flex-col;
            width: rem(170);
        }

        &__image {
            display: flex;
            justify-content: center;
            border: rem(4) solid var(--blue);
            border-radius: rem(15);
            aspect-ratio: 1 / 1;
            width: 100%;
            margin-bottom: rem(10);
        }

        &__subtext {
            font-size: rem(18);
            text-align: center;
        }
    }
}

.quote {
    @extend .width, .flex-col;
    justify-content: center;
    padding: rem(100) 0;
    gap: rem(50);

    & blockquote {
        font-size: rem(36);
        font-style: italic;
        font-weight: 300;
    }

    & p {
        font-size: 24px;
        font-weight: bold;
        text-align: right;
    }
}

.call-to-action {
    @extend .width, .flex-row;
    justify-content: space-between;
    margin-block: rem(100);
    padding: rem(50) rem(120);
    color: var(--white);
    gap: rem(50);
    background-color: var(--blue);
    border-radius: rem(10);

    &__text {
        @extend .flex-col;

        & h1 {
            font-size: rem(24);
        }

        & p {
            font-size: rem(18);
        }
    }

    & button {
        border: none;
        background-color: var(--blue);
        color: white;
        font-weight: 900;
        border: 2px solid var(--white);
        border-radius: rem(10);
        padding: rem(10) rem(36);
    }
}

.footer {
    @extend .width, .flex-row;
    align-items: center;
    justify-content: center;
    padding: rem(40) 0;
}
